<mjml>
  <!-- global variables -->
  <mj-include path="./partials/_globals.mjml" />
  <!-- css styling -->
  <mj-include path="./partials/layout/theme.css" type="css" css-inline="inline" />
  <mj-head>
    <!-- ⬇ Don't forget to specifify an email subject below! ⬇ -->
    <mj-title>
      {{ Subject .Subject .TemplateData "Verify your new email - {{.Name}}" }}
    </mj-title>
    <mj-include path="./partials/layout/head.mjml" />
  </mj-head>
  <mj-body>
    <mj-section>
      <mj-include path="./partials/layout/header.mjml" />
    </mj-section>
    <mj-section css-class="background">
      <mj-column>
        <mj-text>
          <h2>Hi {{ .Name }},</h2>
        </mj-text>
        <mj-text>
          Please click the following link to verify your email within <strong>{{ .VerificationEmailLifetimeHours }} hour(s)</strong>.
        </mj-text>
        <mj-button href="{{ .AppUrl }}user/email/update?code={{ .Code }}">
          Verify Email
        </mj-button>
        <mj-text>
          You can also copy and paste this link into your browser directly:
        </mj-text>
        <mj-text>
          <a rel="noopener" href="{{ .AppUrl }}user/email/update?code={{ .Code }}">{{ .AppUrl }}user/email/update?code={{ .Code }}</a>
        </mj-text>
      </mj-column>
    </mj-section>
    <mj-section>
      <mj-include path="./partials/layout/footer.mjml" />
    </mj-section>
  </mj-body>
</mjml>
